.news-list
   &__item
      display flex
      flex-direction column
      justify-content space-between
      border-bottom solid 1px $grayLight
      //padding-bottom: 10px
      padding 13px 10px 13px 0
      &-date
         font-size 14px
         line-height 17px
         padding-bottom: 7px
         padding-top: 7px
      &-text
         font-size 18px
         font-weight: 700
         @media $desktop
            font-size 16px
         @media $phone
            font-size 14px
