
//link(href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", rel="stylesheet", type="text/css")
link(href="/f/css/jquery-ui.min.css", rel="stylesheet", type="text/css")
link(href="/f/css/jquery.mCustomScrollbar.css", rel="stylesheet", type="text/css")
link(href="/f/css/main.css", rel="stylesheet", type="text/css")

