script(src="/f/js/vendor/jquery.min.js")
script(src="/f/js/vendor/jquery-ui.min.js")

//script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="/f/js/vendor/jquery.mCustomScrollbar.concat.min.js")
script(src="/f/js/vendor/jquery.mCustomScrollbar.js")
script(src="/f/js/main.js")
