-
    var newsInfo = [
        {
            date: '14 июня 2021',
            text: 'Горилла ММА Серия-34: Полный файткард',
        },
        {
            date: '14 июня 2021',
            text: 'Горилла ММА Серия-33: В Барвихе состоялось роскошное шоу',
        },
        {
            date: '14 июня 2021',
            text: 'Горилла ММА Серия-33: Результаты',
        },
        {
            date: '14 июня 2021',
            text: 'Горилла ММА Серия – 34: Сердце и Кулак Башкор тостана',
        }]
.news-list
    each item in newsInfo
        .news-list__item
            .news-list__item-date !{item.date}
            .news-list__item-text !{item.text}