-
    var videoList = [
        {
            image: '/f/img/videocard/item1.png',
            date: '14 июня 2021',
            text: 'Горилла ММА Серия-34: Сердце и кулак Башкортостана – Результаты',
            url: '#',
        },
        {
            image: '/f/img/videocard/item2.png',
            date: '14 июня 2021',
            text: 'Горилла ММА Серия-34: Сердце и кулак Башкортостана – Результаты',
            url: '#',
        },
        {
            image: '/f/img/videocard/item3.png',
            date: '14 июня 2021',
            text: 'Горилла ММА Серия-34: Сердце и кулак Башкортостана – Результаты',
            url: '#',
        },
        {
            image: '/f/img/videocard/item1.png',
            date: '14 июня 2021',
            text: 'Горилла ММА Серия-34: Сердце и кулак Башкортостана – Результаты',
            url: '#',
        },
        {
            image: '/f/img/videocard/item2.png',
            date: '14 июня 2021',
            text: 'Горилла ММА Серия-34: Сердце и кулак Башкортостана – Результаты',
            url: '#',
        },
        {
            image: '/f/img/videocard/item3.png',
            date: '14 июня 2021',
            text: 'Горилла ММА Серия-34: Сердце и кулак Башкортостана – Результаты',
            url: '#',
        },

    ]

.video-block
    each item in videoList
        +videoCard(item)


