
@import "components/fonts"
@import "components/variables"
@import "components/base"

//blocks
@import "_blocks/news-list.styl"
@import "_blocks/video-list.styl"
@import "_blocks/newscard.styl"
@import "_blocks/videocard.styl"
@import "_blocks/fighter-block.styl"
@import "_blocks/fotocard.styl"
@import "_blocks/tournament-list.styl"
@import "_blocks/card.styl"

//pages
@import "components/header"
@import "components/footer"
@import "components/blog"
@import "components/news"
@import "components/partners"
@import "components/video"
@import "components/main-page"
@import "components/fighter"
@import "components/tournament"
@import "components/home"
@import "components/upgrade"
