//fonts
$Inter = 'Inter',Arial,sans-serif;
$Prosto = 'Prosto',Arial,sans-serif;


//resp
$bigDesktop = 'screen and (max-width: 1700px)';
$desktop = 'screen and (max-width: 1366px)';
$afterDesktop = 'screen and (max-width: 1365px)';
//-$beforeTablet = 'screen and (max-width: 1023px)';
$beforeTablet = 'screen and (max-width: 1240px)';
$tablet = 'screen and (max-width: 1023px)';
$minTablet = 'screen and (max-width: 991px)';
$phone = 'screen and (max-width: 768px)';
$bigPhone = 'screen and (max-width: 480px)';
$phoneS = 'screen and (max-width: 375px)';
$afterBigPhone = 'screen and (max-width: 575px)';
$beforePhone = 'screen and (max-width: 767px)';
$beforeBigPhone = 'screen and (max-width: 479px)';


//box-shadow

//@mixin shadow
//shadow(box-shadow, 0 0 10px rgba($black, 0.7) inset)

//color
// $linkFont = #4479BC;
// $hoverFont = #4479BC;
// $linkFontlight = #5686C3
// $linkFontDark =rgba(68, 121, 188, 0.5)

$white = #ffffff;
$black = #000000;

$alice = #EEF2FA;
$blueAlice = #DBE1ED;

$orange = #F26832;
$red = #EB3223;
$blue = #7CA1D0;
$grey = rgba(255, 255, 255, 0.4);
$gray = #c4c4c4;
$brown = #4F4E51;
$yellow = #F3B757;
$lightGreen = #93D501;
$grayLight = #C9CBD1
$grayClear = rgba($grayLight, 0.5);
$light = #F6F8FC;


