.video
   &__bg
      background $alice
   &-top
      display flex
      align-items stretch
      @media $beforePhone
         flex-wrap wrap
      &__img
         flex 0 0 50%
         max-width: 50%
         padding-right: 50px
         @media $beforePhone
            flex 0 0 100%
            max-width 100%
            min-height  310px
         @media $phoneS
            min-height 210px
         @media $desktop
            padding-right: 20px
         img
            border-radius 0 0 200px 0
            width 100%
      &-info
         flex 0 0 50%
         max-width: 50%
         padding 105px 280px 125px 50px
         @media $beforePhone
            flex 0 0 100%
            max-width 100%
         @media $bigDesktop
            padding 80px 80px 95px 20px
         @media $phone
            padding 40px 40px 45px 20px
         @media $beforePhone
            padding 50px 40px
         @media $phoneS
            padding 20px
         &__head
            display flex
            align-items center
            &-action
               border solid 1px $black
               border-radius 8px 0 8px 0
               padding 6px 16px
               font-size 18px
               margin-right: 15px
               @media $minTablet
                  font-size 14px
            &-date
               font-size 21px
               line-height 25px
               @media $minTablet
                  font-size 14px
         &__more
            a
               background $red
               color $white
               font-size 18px
               text-transform uppercase
               border-radius 6px 0 6px 0
               transition 0.3s
               padding 12px 30px
               @media $beforePhone
                  font-size 10px
               @media $bigPhone
                  font-size 18px
               @media $beforeBigPhone
                  font-size 10px
               &:hover
                  box-shadow: 0 0 10px rgba(black, 0.7) inset
         &__title
            font-size 42px
            line-height 52px
            font-weight: 700
            margin 40px 0
            @media $phone
               font-size 24px
               line-height 29px
               line-height normal
               margin 24px 0

   &-news
      &__title-wrap
         margin 80px 0 50px
         @media $desktop
            margin 80px 0 40px
         @media $phoneS
            margin 60px 0 40px
      &__inner
         display flex
         margin 0 -40px
         @media $afterDesktop
            margin 0
            flex-wrap wrap
      &-left
         color $black
         &__item
            transition 1s
            border-bottom solid 1px $grayLight
            padding-bottom: 24px
            display block
            &:hover .video-news-left__video
               filter: drop-shadow(0 0 5px rgba(black, 0.8))
            @media $afterDesktop
               margin-bottom: 24px
         &__video
            transition 0.3s
            width 100%
            img
               width 100%
         &__date
            font-size 21px
            line-height 25px
            color $black
            margin 24px 0
         &__text
            font-size 32px
            line-height 39px
            font-weight: 700
            color $black
            @media $bigPhone
               font-size 24px
               line-height normal
      &-left
         flex 0 0 57%
         max-width: 57%
         padding 0 40px
         @media $afterDesktop
            padding 0
            flex 0 0 100%
            max-width 100%
      &-right
         flex 0 0 43%
         max-width: 43%
         padding 0 40px
         @media $afterDesktop
            padding 0
            flex 0 0 100%
            max-width 100%
      &-right
         &__item
            display flex
            align-items flex-start
            border-bottom solid 1px $grayLight
            padding 24px 0
            transition 0.3s
            &:hover .video-news-right__img
               filter: drop-shadow(0 0 5px rgba(black, 0.8))
            &:nth-child(1)
               padding-top: 0

         &__img
            flex 1 0 36.2%
            max-width 36.2%
            margin-right: 15px
            display flex
            border-radius 40px 0 40px 0
            overflow hidden
            background gray
            transition 0.3s
            @media $phone
               margin-right: 0
            @media $phoneS
               border-radius 20px 0 20px 0
            img
               flex-grow 1
               border-radius 40px 0 40px 0
               @media $afterDesktop
                  width 100%
               @media $phoneS
                  border-radius 20px 0 20px 0

         &__info
            flex 0 0 63.8%
            max-width: 63.8%
            padding-left: 15px
         &__date
            font-size 14px
            color $black
            padding-bottom 20px
            @media $bigPhone
               padding-bottom: 15px
            @media $phoneS
               padding-bottom: 10px
         &__text
            font-size 24px
            line-height 29px
            font-weight: 700
            color $black
            @media $desktop
               font-size 21px
               line-height normal
            @media $bigPhone
               font-size 18px
            @media $phoneS
               font-size 14px
      &__choice-more
         text-align center
         margin-top: 55px

.vp-body-video__choice
   padding 15px 0

//-------video-post----
//.top__bg-vp
//   //border-radius 0 0 200px 0
//   padding 80px 0

.vp-head
   text-align center
   @media $bigPhone
      padding-bottom: 80px
   @media $bigPhone
      padding-bottom 90px
   &__date
      font-size 21px
      line-height 25px
      margin-bottom: 25px
      @media $phone
         font-size 14px
         line-height 17px
   &__text
      font-size 42px
      line-height 51px
      font-weight: 700
      padding 0 235px
      margin-bottom: 25px
      @media $bigDesktop
         padding 0
      @media $phone
         font-size 32px
         line-height 38px
      @media $bigPhone
         font-size 24px
         line-height 29px
      @media $phoneSfnts
         font-size 21px
         line-height normal
   &__network
      display flex
      flex-direction column
      justify-content center
      align-items center
      &-row
         margin-bottom: 16px
   &__img
      display block
      margin 0 auto
      text-align center
      //transform translateY(-45px)
      margin-top: -45px
      @media $bigPhone
         margin-top: -105px
      @media $bigPhone
         margin-top: -114px
      //@media $phone
.vp-body
   &-video
      background $alice
      //border-radius 0 0 200px 0
      padding 100px 0
      margin-bottom: 80px
      &-head
         display flex
         align-items center
         justify-content space-between
.vp-footer
   margin-bottom: 40px