extends layouts/default

block pageVar
    -pageTitle = 'Блог';
block content
    .page-container
        .top__bg.top__bg-blog.top-bg--padding
            .content-wrapper
                .blog-head.blog-pos
                    .blog-head__date 28 июня 2021
                    .blog-head__title Мини-юбилей прошел на пять баллов: Горилла ММА Серия провела 35-й турнир
                    .blog-head__network
                        .blog-head__network-text Поделиться
                        .blog-head__network-list
                            .network.network--white.network-blog
                                each item in ['Vk','Yt','Fb',]
                                    .network__item
                                        a(href="#")
                                            .skew.network__item-link
                                                .skew__inner !{item}
                            .blog-head__network-item
        .content-wrapper
            .blog-head__img.blog-pos
                img(src="/f/img/blog/big-bg.jpg", alt="")
            .blog-body
                .blog-body__news.blog-pos
                    .blog-body__news-title
                        | Мини-юбилей прошел на пять баллов: Горилла ММА Серия провела 35-й турнир
                    .blog-body__news-text
                        | В прошедшую субботу 26 июля в Санкт-Петербурге прошел 35-й турнир Горилла ММА Серии,
                        | начался турнир Горилла ММА Серия-35: Время новых героев с предварительных боев, большинство
                        | из которых закончились досрочно. Их победителями стали Муминджон Мадаминов, Расулбек
                        | Султанов, Николай Шахобов, Александр Митькин и Никита Приходько.
                    .blog-body__result
                        .blog-body__result-title
                            | Результаты предварительного карда Горилла ММА Серии-35: Время новых героев
                        .blog-body__result-item
                            | 1. Муминджон Мадаминов (Узбекистан) победил Элбека Сафарова (Кыргызстан) удушающим приёмом в 1 раунде (2:05);
                        .blog-body__result-item 2. Расулбек Султанов (Туркменистан) победил Алексея Громова (Россия) ТКО в 1 раунде (2:04);
                        .blog-body__result-item 3. Николай Шахобов (Россия) победил Константина Чередниченко (Казахстан) ТКО в 1 раунде (0:40) - отказ соперника продолжать из-за травмы;
                        .blog-body__result-item 4. Александр Митькин (Россия) победил Фархода Ибрагимова (Таджикистан) удушающим приёмом в 1 раунде (0:52);
                        .blog-body__result-item 5. Никита Приходько (Россия) победил Мухаммада Ходжаева (Узбекистан) единогласным решением судей.
                .banner-commercial рекламный баннер
                .blog-body__info.blog-pos
                    .blog-body__info-text Шестым на турнире и первым в основной программе вечера стал бой Ризкиддина Асадова с Ильей
                        | Коликовым. Узбекский боец сумел найти возможность для проведения удушающего приема в
                        | самом конце первого раунда и подарил зрителям турнира эффектную досрочную победу.
                        | Коликов не дотерпел до первого перерыва между раундами всего 14 секунд. В следующем
                        | поединке молодой, подающий надежды боец из Карелии Марк Вологдин проводил свой восьмой
                        | бой в Горилла ММА Серии. Еще не так давно он вел удивительную череду из пяти досрочных
                        | побед, но на прошедшем весной 31-м турнире эта серия прервалась, когда Вологдин потерпел
                        | поражение. На 35-м нашем шоу Марк рассчитывал вернуться на победную тропу, но у его
                        | соперника Умуда Агамирова были свои планы. В итоге упорный и увлекательный бой
                        | закончился победой атлета из Азербайджана единогласным решением судей.

                    .blog-body__info-text Судьбу следующего поединка, к сожалению, решила обидная травма, из-за которой Андрей
                        | Семенюк был вынужден выйти из боя уже на отметке 1:35 первого раунда. В одном из
                        | эпизодов Семенюк повредил руку и сигнализировал об этом, после чего судье пришлось
                        | останавливать бой и присуждать победу Валерию Вишнякову.

                    .blog-body__info-text Третьим по значимости боем вечера стало возвращение после недолгого перерыва
                        | рекордсмена Горилла ММА Серии Артема Семенова. Для нашего ветерана прошедший поединок
                        | стал уже девятым внутри Серии, и Семенов отметил это удивительное достижение красивой
                        | победой: в очередной раз Артему великолепно удался удушающий прием гильотина.

                    .blog-body__info-text В ко-мейн ивенте зрители увидели схватку крупных ребят – Яна Шипилова из России и
                        | бразильца Витора Резенде. Шипилов всего две недели назад одержал свою крайнюю победу на
                        | нашей площадке и решил вернуться как можно скорее. Вероятно, это излишнее рвение сыграло
                        | с ним злую шутку, ведь в бою с Резенде Ян не смог показать свой уровень и уступил
                        | техническим нокаутом спустя всего полминуты от начала.

                    .blog-body__info-text Одиннадцатым и главным на турнире Горилла ММА Серия-35: Время новых героев стал бой
                        | Владимира Юрусова с Дмитрием Кривульцом. Ранее Юрусов успел набить на нашей площадке
                        | мощную серию из четырех досрочных побед удушающими приемами. Разумеется, такие успехи не
                        | могли остаться незамеченными, потому наши матчмейкеры справедливо решили доверить
                        | Юрусову драться в главном бою вечера. Владимир сполна отблагодарил Горилла ММА Серию за
                        | доверие и одержал уже пятую подряд досрочную победу – на этот раз болевым приемом на
                        | руку. Теперь в идеальном рекорде Юрусова значатся красивые цифры 5-0, и нам приятно, что
                        | столь многообещающая карьера берет свое начало в Горилла ММА Серии.
                .blog-banner
                    .banner-offer.banner-offer--pos
                        img(src="/f/img/bottom-bg.png", alt="")
        .blog-footer
            .content-wrapper
                .blog-footer__news.blog-footer-news
                    .blog-footer-news__title
                        h2.title.skew
                            .skew__inner ПОСЛЕДНИЕ НОВОСТИ
                        .blog-footer-news__link
                            a(href="#").more Показать все
                    .blog-footer-news__block
                        .blog-footer-news__left
                            .blog-footer-news__list
                                .blog-footer-news__item
                                    .blog-footer-news__item-inner
                                        .blog-footer-news__ite-img
                                            img(src="/f/img/news/news1.png", alt="")
                                        .blog-footer-news__item-date
                                            | 14 июня 2021
                                        .blog-footer-news__item-text
                                            |Горилла ММА Серия-35: Время новых героев

                                .blog-footer-news__item
                                    .blog-footer-news__item-inner
                                        .blog-footer-news__ite-img
                                            img(src="/f/img/news/news2.png", alt="")
                                        .blog-footer-news__item-date
                                            | 14 июня 2021
                                        .blog-footer-news__item-text
                                            | Горилла ММА Серия-35: Время новых героев. Файткарт
                        .blog-footer-news__right
                            include _blocks/news-list

