extends layouts/default

block pageVar
    -pageTitle = 'Боец';
block content
    -
        var videoCard =
                [
                    {
                    image: '/f/img/videocard/item1.png',
                    date: '14 июня 2021',
                    text: 'Горилла ММА Серия-34: Сердце и кулак Башкортостана – Результаты',
                    url: '#',
                    },
                    {
                    image: '/f/img/videocard/item2.png',
                    date: '14 июня 2021',
                    text: 'Горилла ММА Серия-34: Сердце и кулак Башкортостана – Результаты',
                    url: '#',
                    },
                    {
                    image: '/f/img/videocard/item3.png',
                    date: '14 июня 2021',
                    text: 'Горилла ММА Серия-34: Сердце и кулак Башкортостана – Результаты',
                    url: '#',
                    },
                ]
        var infoMen = [
            {
                name: 'Город',
                post: 'Бачка-Паланка'
            },
            {
                name: 'Рост',
                post: '185'
            },
            {
                name: 'Вес',
                post: '84'
            },
            {
                name: 'Возраст',
                post: '28'
            },
        ]
    .page-container
        .top__bg
            .f-header
                .f-header__left
                    .f-header__left-item
                .f-header__right.top-bg--padding
                    .f-header__right-inner
                        .f-header__country
                            .f-header__country-img
                                img(src="/f/img/fighter/flag.svg", alt="")
                            .f-header__country-text
                                | Россия
                        .f-header__name Александр волков
                        .f-header__record
                            .f-header__record-text Рекорд в Горилла ММА Серии
                            .f-header__record-numb.skew
                                .skew__inner 41 / 33 / 8
                        .f-header__btn
                            button.skew
                                div.skew__inner Статистика в Горилла ММА Серии
                        .f-header__link
                            .f-header__link-item
                                a(href="#") Рекорд Sherdog
                            .f-header__link-item
                                a(href="#") Рекорд Tapology

        .content-wrapper
            .f-info
                each item in infoMen
                    .f-info__item
                        .f-info__item-inner
                            .f-info__item-name !{item.name}
                            .f-info__item-post !{item.post}

            .f-list-head
                .f-list-head__date Дата
                .f-list-head__tournament Турнир
                .f-list-head__opponent Соперник
                .f-list-head__result Результат
                .f-list-head__system Метод
                .f-list-head__time Время / Раунд
            .f-list-head--mobile
                .f-list-head__item--mobile Дата / Турнир
                .f-list-head__item--mobile Соперник / Результат
                .f-list-head__item--mobile Метод / Время / Раунд

            include _blocks/fighter
            .banner-commercial рекламный баннер
    .f-achievement-bg
        .content-wrapper
            .f-achievement
                .f-achievement__title
                    h2.skew.title
                        .skew__inner ДОСТИЖЕНИЯ
                .f-achievement__list
                    each item in ['Чемпион Горилла ММА Серии в легком весе','Чемпион по ММА среди любителей 2018 года','Мастер по боксу']
                        .f-achievement-inner
                            .f-achievement__item
                                a(href="#") !{item}
    .f-video.top__bg
        .content-wrapper
            .f-video__title.title__link
                h2.skew.title
                    .skew__inner ВИДЕО
                .title__link-more
                    a(href="#").more Показать все
            .video-block
                each item in videoCard
                    +videoCard(item)
    .f-foto
        .content-wrapper
            .f-foto__title.title__link
                h2.skew.title
                    .skew__inner ФОТО
                .title__link-more
                    a(href="#").more Показать все
            include _blocks/fotocard
    .f-banner-offer
        .content-wrapper
            .banner-offer.banner-offer--pos
                img(src="/f/img/bottom-bg.png", alt="")

